<%- include('../../partials/head') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"><%- include('../../partials/sidebar') %></div>
    <div class="col-md-6 offset-2">
      <div class="card card-body my-4">
        <%- include('../../partials/alerts') %> 
        <h5>Change my password</h5>
        <form action="/auth/change-password" method="post">
          <div class="form-group">
            <label for="oldpassword">Enter your old Password</label>
            <input
              type="password"
              class="form-control <%= error.oldpassword ? 'is-invalid': '' %> "
              id="oldpassword"
              name="oldpassword"
            />
            <div class="invalid-feedback"><%= error.oldpassword %> </div>
          </div>
          <div class="form-group">
            <label for="newpassword">Enter your new Password</label>
            <input
              type="password"
              class="form-control <%= error.newpassword ? 'is-invalid': '' %>"
              id="newpassword"
              name="newpassword"
            />
            <div class="invalid-feedback"><%= error.newpassword %> </div>
          </div>
          <div class="form-group">
            <label for="confirmpassword">Confirm your Password</label>
            <input
              type="password"
              class="form-control <%= error.confirmpassword ? 'is-invalid': '' %>"
              id="confirmpassword"
              name="confirmpassword"
            />
            <div class="invalid-feedback"><%= error.confirmpassword %> </div>
          </div>
          <input
            type="submit"
            class="btn btn-primary"
            value="Update Password"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer') %>

<!-- </body>
</html> -->
