<%- include('../../../partials/head') %> <%- include('../../../partials/alerts')
%>
<script async src="https://cdn.tiny.cloud/1/v4n684k70331mx21ygadbvj6t36iie42k42z0rjzdpj25zlo/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"><%- include('../../../partials/sidebar') %></div>
    <div class="col-md-10 my-4">
      <div class="card card-body mx-5 px-5 py-3">
        <h5 class="my-3 text-center">Create a new Post</h5>
        <form
          action="/posts/create"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="title">Enter your post title</label>
            <input type="text" name="title" id="title" class="form-control <%= error.title ? 'is-invalid' : '' %> " value="<%= value.title ? value.title : '' %>"/>
            <div class="invalid-feedback"><%= error.title ? error.title : '' %></div>
          </div>
          <div class="form-group">
            <label for="tiny-mce-post-body">Enter your Post body</label>
            <textarea
              name="body"
              id="tiny-mce-post-body"
              class="form-control <%= error.body ? 'is-invalid' : '' %>"
            ><%= value.body ? value.body : '' %> </textarea>
            <div class="invalid-feedback"><%= error.body ? error.body : '' %> </div>
          </div>
          <div class="form-group">
            <label for="tags">Enter your tags (max 10)</label>
            <input
              type="text"
              name="tags"
              id="tags"
              placeholder="ex: tag1, tag2, tag3"
              class="form-control <%= error.tags ? 'is-invalid' : '' %>"
              value="<%= value.tags ? value.tags : '' %>"
            />
            <div class="invalid-feedback"><%= error.tags ? error.tags : '' %> </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01"
                >Upload</span
              >
            </div>
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                name="thumbnail"
                id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01"
              />
              <label class="custom-file-label" for="inputGroupFile01"
              >Choose your post thumnail</label
              >
            </div>
          </div>
          <input type="submit" value="Create Post" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../../../partials/footer') %>

<script src="/scripts/tiny.js"></script>
<script>
  $('#inputGroupFile01').on('change', function (e) {
    let fileName = e.target.files[0].name
    $(this).next('.custom-file-label').html(fileName)
  })
</script>
</body>
</html>
