<%- include('../../../partials/head') %> <%- include('../../../partials/alerts')
%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"><%- include('../../../partials/sidebar') %></div>
    <div class="col-md-10 my-4">
      <div class="card card-body">
        <h5 class="my-3">List Of My Post</h5>
        <div class="row">
          <% if (posts.length === 0) { %>
          <div class="col-sm text-center text-muted">
            <p>There is no posts available right now</p>
            <a href="/posts/create" class="btn btn-primary btn-sm"
              >Create Post Now</a
            >
          </div>
          <% } else { %> <% for(let post of posts.reverse() ) { %>

          <div class="card col-sm-3 m-4 p-0 shadow">
            <a href="/posts/edit/<%= post._id %>" class="text-decoration-none">
              <% if (post.thumbnail) { %>
              <img
                src="<%= post.thumbnail %>"
                alt="<%= post.title %>"
                class="card-img-top"
              />
              <% } %>
              <div class="card-body">
                <h5 class="text-dark"><%= post.title %></h5>
              </div>
            </a>
          </div>

          <% } %> <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../../../partials/footer') %>
</body>
</html>
